<header class="flex">
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <ul class="url-list">
    <li *ngFor="let url of urls" class="url-item">
      <div>
        <h3>{{ url.code }}</h3>
        <p>{{ url.url }}</p>
      </div>
      <button (click)="deleteUrl(url.code)">Delete</button>
    </li>
  </ul>
  <div class="add-url-form">
    <label for="code">Code</label>
    <input id="code" type="text" placeholder="Code" [(ngModel)]="newUrl.code" />
    <label for="url">Url</label>
    <input id="url" type="text" placeholder="Url" [(ngModel)]="newUrl.url" />
    <button (click)="createUrl()">Create</button>
  </div>
</main>
